$font-size-head: 11px;
$font-size-h1: 24px;
$font-size-mini: 10px;
$font-stack: "Roboto", serif;
$font-weight-big: 700;
$font-size-footer: 12px;
$color-footer: #818687; 
$color-text:#8A8787;
$radius-photo: 5px;
$margin-surati: 68px 87px 67px 37px;
