$font-size-head: 11px;
$font-size-h1: 24px;
$font-size-mini: 10px;
$font-stack: "Roboto", serif;
$font-weight-big: 700;
$font-size-footer: 12px;
$color-footer: #818687; 
$color-text:#8A8787;
$radius-photo: 5px;
$margin-surati: 68px 87px 67px 37px;
$width-surati: 362px;
$height-surati:186px;
$margin-surati: 32px 0px 0px 41px;
$font-size-erm: 20px;
$background-size-big: 758px 430px;
$background-size-small: 362px 212px;